**PANDAS DATAFRAMES part 3**

In [10]:
import numpy as np 
import pandas as pd 
from numpy.random import randn

In [5]:
#index levels 
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1 -1.195204 -0.816313
   2 -0.303077  0.537714
   3  0.724145  0.590081
G2 1  0.635802  1.842808
   2 -1.374698  1.882912
   3 -2.673413  0.269760

In [16]:
df.loc['G1']

          A         B
1 -1.195204 -0.816313
2 -0.303077  0.537714
3  0.724145  0.590081

In [18]:
df.index.names = ['Groups','Num']

In [19]:
df

                   A         B
Groups Num
G1     1   -1.195204 -0.816313
       2   -0.303077  0.537714
       3    0.724145  0.590081
G2     1    0.635802  1.842808
       2   -1.374698  1.882912
       3   -2.673413  0.269760

In [22]:
df.loc['G2'].loc[2]['B']

1.882912338166608

In [25]:
df.loc['G1'].loc[2]['A']

-0.3030767176193911

In [27]:
df.loc['G2'].loc[3]['A']

-2.6734132543692626

In [28]:
df.xs('G1')

            A         B
Num
1   -1.195204 -0.816313
2   -0.303077  0.537714
3    0.724145  0.590081

In [29]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.195204 -0.816313
G2      0.635802  1.842808