**PANDAS**

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
labels =['a','b','c']
mydata = [10,20,30]
arr = np.array(mydata)
d= {'a':10,'b':20,'c':30}

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = mydata)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = mydata,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(mydata,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
ser1 = pd.Series([1,2,3,4],['USA','germany','USSR','japan'])

In [18]:
ser1

USA        1
germany    2
USSR       3
japan      4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4],['USA','germany','Italy','japan'])

In [22]:
ser2

USA        1
germany    2
Italy      5
japan      4
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
ser3 = pd.Series(data = labels)

In [26]:
ser3[0]

'a'

In [27]:
ser1

USA        1
germany    2
USSR       3
japan      4
dtype: int64

In [28]:
ser1 +ser2

Italy      NaN
USA        2.0
USSR       NaN
germany    4.0
japan      8.0
dtype: float64